python-dateutil==2.9.0.post0
pytz==2024.1
pandas==2.2.2
requests==2.32.2
logbook==1.7.0.post0
aiohttp==3.9.3
arrow==1.3.0
tushare==1.2.89
aiofiles==23.2.1
python-multipart==0.0.9
jqdatasdk==1.9.2
redis==5.0.1
ddddocr==1.4.10
pycryptodome==3.20.0
PyYAML==6.0.1
numpy==1.26.4
xlrd==2.0.1
pytables==3.9.2
apscheduler==3.10.4
wxpusher==2.2.0
pytest==7.4.4
akshare==1.15.20
easyquant==0.1.0
TA-Lib==0.4.28
fastapi==0.109.0
uvicorn==0.25.0
python-jose[cryptography]==3.3.0
sqlalchemy==2.0.30
passlib==1.7.4
pydantic==2.5.3
pydantic-core==2.14.6
pydantic-settings==2.1.0
matplotlib==3.8.4
starlette==0.35.1
ctypes-callable==1.0.4
pywin32==305
greenlet==3.0.1
typing-extensions==4.11.0
sniffio==1.3.0
idna==3.7
h11==0.14.0
click==8.1.7
colorama==0.4.6
anyio==4.3.0
scipy==1.13.1
scikit-learn==1.4.2
statsmodels==0.14.2