python_dateutil
pytz
pandas
requests
logbook
aiohttp
arrow
tushare
aiofiles
python-multipart
jqdatasdk
redis
ddddocr
pycryptodome
PyYAML==6.0.1
requests==2.32.2
numpy==1.26.4
xlrd==2.0.1
tables==3.9.1
apscheduler
wxpusher==2.2.0
pytest==7.4.4
akshare==1.15.20